/* Res Box */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  margin-top: 5%;
}
.res_box {
  background-color: #fff;
  width: 500px;
  padding: 2px;
  box-shadow:  0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  /* border-radius: 5px; */
  padding: 0px;
  display: flex;
  margin-bottom: 50px;
}

.icon {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pager_num {
  font-size: 20px;
  font-weight: bolder;
  padding-right: 20px;
}

.tick_box {
  border-radius: 50%;
  width: 20px;
}

.button {
  display: flex;
  align-items: center;
  margin-right: 40%;
}

.button button {
  border: 0px;
  color: var(--turn_color);
  background-color: #FFF;
  border-radius: 5px;
  /* padding: 5px; */
  display: flex;
}


.erorr_btn {
  margin-right: 5px;
  color: var(--off_color) !important;
  font-size: 20px;
}

/* header */
.header {
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo {
  height: 50%;
  width: auto;
}

.logo_name {
  color: #436db5;
  margin: 12px;
  font-weight: bolder;
  font-size: 35px;
}