:root {
  --off_color : #D11A2A;
  --waiting_color : #3b82f6;
  --turn_color : #1acc8d;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  direction: rtl;
  font-family: Vazirmatn, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f5f6fa;
  min-height: 30vh;

}
